  <div class="panel panel-info" id="faq">
    <div class="panel-heading">Questions fréquentes</div>
    <div class="panel-body">
              <p><b>Sur ce site Web, c'est très long à s'afficher</b> : <br/><br/>
                  Je m'endors quand je ne suis pas stimulé, il s'agit d'un hébergement gratuit qui optimise les temps du serveur.<br/>
                  Il faut un peu de temps (parfois jusque 6 minutes) pour réveiller le serveur, mais ensuite il répond normalement.</p>

              <p><b>A quelle heure te réveilles-tu ?</b> : <br/><br/>
                  Pour le moment ce n'est pas encore trop figé. en dehors des tirs manuels,<br/>
                  Pour le plugin <b>PlantNet</b> : je simule à ~ 17h15/17h25, et pratique à 17h30.<br/>
                  Pour le plugin <b>AskPlantnet</b> (en phase de test): je pratique à 12h00 et 17h00.
                  </p>

    </div>
  </div>