  <div class="panel panel-info" id="faq">
    <div class="panel-heading">Questions fréquentes</div>
    <div class="panel-body">
              <p><b>C'est long à s'afficher</b> : <br/><br/>
                  Je m'endors quand je ne suis pas stimulé, il s'agit d'un hébergement gratuit qui optimise les temps du serveur.<br/>
                  Il faut jusque 6 minutes pour réveiller le serveur, mais ensuite il répond normalement.</p>
              <p><b>A quelle heure te réveilles-tu ?</b> : <br/><br/>
                  Pour le moment ce n'est pas encore trop figé. en dehors des tirs manuels, je simule à ~ 17h15/17h25, et pratique à 17h30.</p>
              <p><b>Quelle questions peut-on te poser ?</b> : <br/><br/>
                  Pour le moment je suis encore en phase de test/design. Revenez plus tard (ou suivez le projet Github).</p>
    </div>
  </div>