<title>BotEnSky Node.js Twitter Bot hosted on Render.com</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- THANKS TO umami cloud free plan https://cloud.umami.is/ -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="ca7cc5f5-a84c-42bf-b34f-359beed91b11"></script>
<link rel="stylesheet" type="text/css" href="/main.css" />