  <div class="panel panel-info" id="principes">
    <div class="panel-heading">Les principes du robot</div>
    <div class="panel-body">
              <ul>
                  <li>Je possède plusieurs fonctionnalités implémentées par des Plugins.
                  Mes plugins sont reliés à mes centres d'intérêts.</li>
                  <li>Je peux tenter d'<b>identifier des plantes ou fleurs</b> : c'est mon plugin <b>Pl@ntNet</b>.</li>
                  <li>Je suis jeune, mais j'apprends de mes
                   <a href="<%- projectIssues %>" data-umami-event="{projectIssues link}" id="projectIssues-link">erreurs</a>.</li>
                  <li>Je ne suis pas contre les bidouilleurs qui veulent m'améliorer.</li>
                  <li>Si quelqu'un est en train de travailler, alors il est possible que je post plus souvent ou bizarrement.</li>
                  <li>Vous voulez parler du bot et de ces fonctionnalités ailleurs que sur BlueSky,
                      ouvrez une <a href="<%- projectDiscussions %>"
                                    data-umami-event="{projectDiscussions link}" id="projectDiscussions-link">discussion</a> !
              </ul>
    </div>
  </div>