  <div class="panel panel-info" id="principes">
    <div class="panel-heading">Les principes du robot</div>
    <div class="panel-body">
              <h3>Fonctions du robot</h3>

              <p><b>#BeSPlantnet - le robot réponds à certains posts !</b> : <br/><br/>
                  A certains moments de la journée, le robot recherche des images de fleur/plante.
                  Ensuite il tente d'identifier la plante, et en cas de réussite répond à l'auteur du post avec une image en exemple</p>

              <p><b>#BeSAskPlantnet - le robot réponds à certaines mentions !</b> : <br/><br/>
                  Pour le moment il est possible de demander au robot d'identifier une fleur/plante.<br/>
                  Pour cela, répondez à un post comportant une image de fleur/plante avec la mention <code>@botensky.bsky.social</code>.<br/>
                  Ensuite vous devez attendre le réveil du robot pour le plugin <b>AskPlantnet</b> (cf. FAQ)</p>

<br/><br/>
              <h3>Le projet du robot</h3>

                <ul>
                    <li>BotEnSky est un projet open-source qui tente d'<b>identifier des plantes ou fleurs</b> (cliquez sur le coin noir GitHub).</li>
                    <li>C'est un jeune bot, mais qui apprends de ses
                     <a href="<%- projectIssues %>" data-umami-event="{projectIssues link}" id="projectIssues-link">erreurs</a>.</li>
                    <li>Le projet est ouvert aux bidouilleurs qui veulent améliorer le bot.</li>
                    <li>Si quelqu'un est en train de travailler, alors il est possible que le bot post plus souvent ou bizarrement.</li>
                    <li>Vous voulez parler du bot et de ces fonctionnalités ailleurs que sur BlueSky,
                        ouvrez une <a href="<%- projectDiscussions %>"
                                      data-umami-event="{projectDiscussions link}" id="projectDiscussions-link">discussion</a> !
                </ul>
    </div>
  </div>