html, body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;

    --bes-text-background-first: rgba(236, 227, 227, 0.6);
    --bes-text-background-second: rgb(167, 211, 167, 0.8);
    --bes-text-background-negative: rgb(243, 202, 128);
}

.flag-img {
    width: 1.33333333em;
    cursor: pointer;
}

.bes-card {
    --bs-card-bg: transparent !important;
}

.panel-input {
    border: 1px solid green;
}

.panel-heading {
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    font-size: 1.4em;
}

.panel-info {
    margin-top: 0 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.panel-body {
    font-size: 1.2em;
}

.card-body {
    background-color: var(--bes-text-background-first);
    background-image: url('/botensky_bg.jpg');
    background-position: bottom right;
}

.list-group-item  {
    background-color: var(--bes-text-background-first);
}

#sendResult {
    margin-left: 30px;
}

#sendTweet {
    cursor: pointer;
}

.illustrateTxt {
    float: right;
}

.logDate {
    font-size: 0.8em;
}

li.msgContainer {
    list-style-type: circle;
    padding-bottom: 4px;
}

.home-logs {
    padding: 5px;
}

.home-log {
    background-color: var(--bes-text-background-first);
    border-right: 3px solid rgba(236, 227, 227, 0.4);
    border-bottom: 3px solid rgba(236, 227, 227, 0.4);
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.msgContainer {
    padding-left: 6px;
    font-size: 1.0em;
}

/** backend news injected styles **/
.bg-info {
    margin-left: 20px;
    margin-right: 100px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: var(--bes-text-background-second) !important;
}
/** backend news negative result **/
.news-negative{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: var(--bes-text-background-negative) !important;
    opacity: 0.5;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
    .panel-heading {
        padding-left: 10px !important;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        font-size: 1.2em;
    }

    .panel-body {
        font-size: 1.0em;
    }

    .panel-input {
        width: 100%;
        margin-left: 0;
    }

    .panel-info {
        margin-left: 0;
        margin-right: 0;
    }

    .logDate {
        font-size: 0.8em;
    }

    .msgContainer {
        padding-left: 3px;
        font-size: 1.0em;
    }
}

.post-image {
    width: 80px;
}
.medium-post-image {
    width: 180px;
}
.post-image-container {
    padding: 5px;
    position: relative;
    float: right;
}