# server default timezone
TZ=Europe/Paris

## Log
######
# https://logs.betterstack.com/ - Source token
LOG_LOGTAIL_TOKEN=ooooooooooooooo
LOGTAIL_API_TOKEN=
LOGTAIL_SOURCE_ID=

## BlueSky
##########
# https://bsky.app/settings/app-passwords
BLUESKY_SERVICE=https://bsky.social
# BLUESKY_USERNAME may be full username (user.bsky.social), or user email
BLUESKY_USERNAME=XXXXXXXXXXXX.bsky.social
# PASSWORD may be user password or app password
BLUESKY_PASSWORD=YYYYYYYYYYYYY

## Pla@ntNet
############
PLANTNET_API_PRIVATE_KEY=ZZZZZZZZZZZZZZ
# PLANTNET_SIMULATE=true will simulate Pl@ntNet API result
BOT_PLANTNET_SIMULATE=true

## Unsplash
###########
UNSPLASH_ACCESS_KEY=ZZZZZZZZZZZZZZ

## Bot
######
BOT_TOKEN_SIMULATION=SIMULATE_SECRET_HERE_ZZZZZZZZZ
BOT_TOKEN_ACTION=ACTING_ON_BLUESKY_SECRET_HERE_ZZZZZZZZZ